<h1> Project Porfolio </h1>
<p>Overview of my github profile</p>

<h2> Projects</h2>
<div>
<h3 style="display: inline-block;">Item Catalog</h3> <span style="padding-left: 10em;">2016 - Present</span>
</div>

<div>
<h3 style="display: inline-block;">Tournament Tracker</h3> <span style="padding-left: 10em;">2016</span>
</div>

<div>
<h3 style="display: inline-block;">Movie Trailer Site</h3> <span style="padding-left: 10em;">2016</span>
</div>


<h2>Misc. Repositories</h2>

<div>
<h3 style="display: inline-block;">Problem Archive</h3> <span style="padding-left: 10em;">2016 - Present</span>
</div>
<p>
Algorithm and data structure problems solved from various sites (hacker rank, topcoder, geeks for geeks, and various text)
</p>


<h2>Archived</h2>


<div>
<h3 style="display: inline-block;">Boltsmann Machine</h3> <span style="padding-left: 10em;">2009</span>
</div>
<p> Boltsmann Machine for Travelling Salesman Problem(TSP) </p>

